### Import Libraries

In [1]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Import Data

In [6]:
lead = pd.read_csv('NY_Lead.csv')

### Clean Data and Add Columns

In [24]:
#Drop Copper data, only interested in lead
lead = lead.drop(columns=['Copper First Draw (mg/L)', 'Copper 1-2 Minute Flush (mg/L)', 'Copper 5 minute Flush (mg/L)'])
lead['Date Collected'] = pd.to_datetime(lead['Date Collected'])
lead['Date Received'] = pd.to_datetime(lead['Date Received'])
lead['Hold Time'] = lead['Date Received'] - lead['Date Collected']

In [58]:
# Create Exceedance columns. EPA exceedance is 15 ppb or 0.015 mg/L
lead['First_Exceed'] = lead['Lead First_Draw (mg/L)'] > 0.015
lead['First_Exceed'] = lead['First_Exceed'].astype(int)

lead['1-2_Exceed'] = lead['Lead 1-2 Minute Flush (mg/L)'] > 0.015
lead['1-2_Exceed'] = lead['1-2_Exceed'].astype(int)

lead['5_Exceed'] = lead['Lead 5 Minute Flush (mg/L)'] > 0.015
lead['5_Exceed'] = lead['5_Exceed'].astype(int)
### Change to function later

def any_exceed(col1, col2, col3):
    if col1 == 1:
        print(1)
    elif col2 == 1:
        print(1)
    elif col3 ==1:
        print(1)
    else:
        print(0)
        
head['Exceed'] = 
df['event_name'] = df['event'].map(event_name)"

In [52]:
lead.head()

,Kit ID,Borough,Zipcode,Date Collected,Date Received,Lead First_Draw (mg/L),Lead 1-2 Minute Flush (mg/L),Lead 5 Minute Flush (mg/L),Hold TIme,Hold Time,First_Exceed,1-2_Exceed,5_Exceed,Exceed
0,13220181,NEW YORK,10128,2014-01-01,2014-01-08,0.000,0.0,NaN,7 days,7 days,0,0,0,False
1,13300298,BROOKLYN,11205,2014-01-01,2014-01-08,0.000,0.0,0.0,7 days,7 days,0,0,0,False
2,13300297,BROOKLYN,11205,2014-01-01,2014-01-08,0.000,0.0,0.0,7 days,7 days,0,0,0,False
3,13219471,NEW YORK,10028,2014-01-01,2014-01-07,0.007,0.0,NaN,6 days,6 days,0,0,0,False
4,11211471,LONG ISLAND CITY,11101,2014-01-01,2014-01-07,0.000,0.0,NaN,6 days,6 days,0,0,0,False

In [57]:
lead.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14815 entries, 0 to 14814
Data columns (total 14 columns):
Kit ID                          14815 non-null int64
Borough                         14815 non-null object
Zipcode                         14815 non-null int64
Date Collected                  14815 non-null datetime64[ns]
Date Received                   14815 non-null datetime64[ns]
Lead First_Draw (mg/L)          14794 non-null float64
Lead 1-2 Minute Flush (mg/L)    14795 non-null float64
Lead 5 Minute Flush (mg/L)      294 non-null float64
Hold TIme                       14815 non-null timedelta64[ns]
Hold Time                       14815 non-null timedelta64[ns]
First_Exceed                    14815 non-null int32
1-2_Exceed                      14815 non-null int32
5_Exceed                        14815 non-null int32
Exceed                          14815 non-null bool
dtypes: bool(1), datetime64[ns](2), float64(3), int32(3), int64(2), object(1), timedelta64[ns](2)
memory usage: 1.3+ MB

In [43]:
lead.sum()

Kit ID                                                               247738691111
Borough                         NEW YORKBROOKLYNBROOKLYNNEW YORKLONG ISLAND CI...
Zipcode                                                                 159643554
Lead First_Draw (mg/L)                                                    120.288
Lead 1-2 Minute Flush (mg/L)                                               24.194
Lead 5 Minute Flush (mg/L)                                                  0.945
Hold TIme                                                     76983 days 00:00:00
Hold Time                                                     76983 days 00:00:00
First_Exceed                                                                  433
1-2_Exceed                                                                    318
5_Exceed                                                                       14
dtype: object

In [60]:
print(433/14815)
print(318/14815)
print(14/14815)

0.02922713466081674
0.021464731690853864
0.0009449881876476544